{% extends 'teacher/teacherbase.html' %}
{% block content %}
<div class="container">
    <h2>Edit Questions for {{ course.course_name }}</h2>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>

    <h3>Existing Questions</h3>
    <ul>
        {% for question in questions %}
            <li>{{ question.text }} - <a href="{% url 'edit-question' course.id %}" class="btn btn-warning btn-xs">Edit</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
